[submodule "ppf"]
	path = ppf
	url = https://github.com/acsl-mipt/ppf.git
[submodule "decode"]
	path = decode
	url = https://github.com/acsl-mipt/decode.git
[submodule "geo-target"]
	path = geo-target
	url = https://github.com/acsl-mipt/geo-target.git
